@media (min-height: 480px) {
	.left-nav {
		height: 1000px;

		.primary-nav {
			height: auto;
		}

		.secondary-nav {
			height: 100%;
		}
	}

	.body-wrapper {
		height: 1000px;
	}

	.design5-content {
		display: none;
	}
	
	.footer {
		display: none;
	}
}

@media (min-width: 800px) {
	.content {
		width: 800px;
		margin: 0 auto;
	}

}

@media (min-width: 900px) {
	.content {
		width: 900px;
	}

}