@media (min-height: 480px) {
	.footer {
		display: none;
	}

	.side-nav {
		background-color: red;

		.primary-nav {
			display: block;

			.secondary-nav {
				display: none;
			}
		}
	}
	
}

@media (min-width: 800px) {
	.design5-extra {
		display: none;
	}
}