@media (min-height: 480px) {
	.header .header-title {
		font-size: 60px;
	}

	.header .header-name {
		margin-top: 30px;
	}

	.left-nav {
		height: 100vh;
		overflow: hidden;

		.primary-nav {
			height: auto;
			margin-bottom: 0;
		}

		.secondary-nav {
			display: block;
			height: 100%;
		}
	}

	.body-wrapper {
		height: 1000px;
	}

	.design5-content {
		display: none;
	}

	.footer {
		display: none;
	}
}

@media (min-width: 800px) {

	.content {
		width: 800px;
		margin: 0 auto;
	}

}

@media (min-width: 900px) {
	.content {
		width: 900px;
	}

}