/*import _reset.css partial*/
@import 'reset';

$darkgreen: rgba(0, 64, 64, 1);
$medgreen: rgba(0, 64, 64, .5);
$litegreen: rgba(0, 64, 64, .25);

/*Styling Property Orders (properties are in alphabetical order within category)*/
/*Colors*/
/*Display & Box Model*/
/*Font & Text*/
/*Positioning*/
/*Other Styling*/


/*universal styling*/
body {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/*header and header children*/
.header {
	background-color: $darkgreen;
	color: white;
	border-bottom: 1px solid black;
	overflow: hidden;
	padding: 25px 0 25px 0;

	.header-name {
		margin: 10px 25px 0 0;
		text-align: right;
		float: right;
	}

	.header-title {
		margin: 5px 0 0 30px;
		font-size: 24px;
		float: left;
	}
}

/*wrappers containing left-nav and body-wrapper*/
.content-wrapper {
	height: 100%;
	line-height: 2;

	.content {
		background-color: $litegreen;
		display: -webkit-flex;
   		display: flex;
   		-webkit-flex-direction: row;
   		flex-direction: row;
	}
}

/*left-aligned nav bar*/
.left-nav {
	border-left: 1px solid black;
	border-right: 1px solid black;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 500px;
	min-width: 150px;
	overflow: hidden;
	overflow-y:scroll;

	.primary-nav {
		background-color: $litegreen;
		height: 500px;
		margin-bottom: 200px;
		padding: 15px 10px 10px 30px;

		a:link {
			color: #231f20;
			text-decoration: none;
		}

		a:visited {
			color: #231f20;
		}

		a:hover, a:active {
			color: #d7e8e8;
		}
	}

	.secondary-nav {
		background-color: $darkgreen;
		color: white;
		display: none;
		padding: 15px 20px 15px 20px;

		a:link {
			color: white;
			text-decoration: none;
		}

		a:visited {
			color: white;
		}

		a:hover, a:active {
			color: #bfcfcf;
		}
	}
}

/*body copy and content*/
.copy-wrapper {
	height: 500px;
	padding: 20px 30px 0 30px;
	border-right: 1px solid black;
	overflow: hidden;
	overflow-y:scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.copy {
		height: 500px;
		margin-bottom: 200px;
	}

	.title {
		font-size: 24px;
	}

	.body-copy {
		text-indent: 3em;
	}
}

/*design-5 footer*/
.footer {
	background-color: $darkgreen;
	bottom: 0;
	height: 50px;
	width: 100%;
	position: fixed;

	li {
		color: white;
		display: inline-block;
		margin: 15px;
		font-size: 14px;

		a:link {
			color: white;
			text-decoration: none;
		}

		a:visited {
			color: white;
		}

		a:hover, a:active {
			color: $medgreen;
		}
	}
}

/*import media queries from mediaqueries.css partial*/
@import 'mediaqueries';