/*import reset.css file*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*universal styling*/
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box; }

/*header and header children*/
.header {
  overflow: hidden;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid black;
  background-color: #004040;
  color: white; }
  .header .header-name {
    float: right;
    margin: 10px 25px 0 0;
    text-align: right; }
  .header .header-title {
    font-size: 24px;
    float: left;
    margin: 5px 0 0 30px; }

/*wrappers containing left-nav and body-wrapper*/
.content-wrapper {
  line-height: 2;
  height: 100%; }
  .content-wrapper .content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: rgba(0, 64, 64, 0.25); }

/*left-aligned nav bar*/
.left-nav {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-width: 150px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .left-nav .primary-nav {
    height: 500px;
    padding: 15px 10px 10px 30px;
    background-color: rgba(0, 64, 64, 0.25); }
  .left-nav .secondary-nav {
    display: none;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #004040; }

/*body copy and content*/
.copy-wrapper {
  padding: 20px 30px 0 30px;
  border-right: 1px solid black;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .copy-wrapper .copy {
    height: 500px; }
  .copy-wrapper .title {
    font-size: 24px; }
  .copy-wrapper .body-copy {
    text-indent: 3em; }

/*design-5 footer*/
.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #004040; }
  .footer li {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin: 15px; }

/*import media queries from mediaqueries.css partial*/
@media (min-height: 480px) {
  .header .header-title {
    font-size: 60px; }
  .header .header-name {
    margin-top: 30px; }
  .left-nav {
    height: 100vh;
    overflow: hidden; }
    .left-nav .primary-nav {
      height: auto; }
    .left-nav .secondary-nav {
      display: block;
      height: 100%; }
  .body-wrapper {
    height: 1000px; }
  .design5-content {
    display: none; }
  .footer {
    display: none; } }

@media (min-width: 800px) {
  .content {
    width: 800px;
    margin: 0 auto; } }

@media (min-width: 900px) {
  .content {
    width: 900px; } }
